.checkbox-label {
    background-color: red;
    color: white;
    font-size: 100;
}
.chkb:checked + .checkbox-label {
 text-decoration: underline;
}

.cosmo {
    background-color: green;
    color: white;
    }
.regina:checked + .cosmo {
    font-style: italic;
}

.bg {
    color: white;
    background-color: blue;
}
.bimba:checked + .bg {
    background-color: yellow;
    color: black;
}

.ders {
    color: white;
    background-color: purple;
}
.hoha:cheked + .ders {
text-decoration: underline;
}