.first {
    color: orange;
}
Ol li {
    color: grey;
}
.veg li {
    color: red;
}
.second {
    color: blue;
}
.raben li {
    color: green;
}
.veg2 li {
    color: red;
}
span {
    color: orange
}
.numeral {
    background-color: green;
    color: white
    
}
