div {
    display: inline-block;

}
.PORT {
    background-color:#000070;
    width: 2000px;
    
}
.jim {
    background-color:#4527a0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    margin-left: -4px;
    }
.jim:hover {
    
    background-color:#7953d2;
}
a {
    color: white;
    text-decoration: none;
}